<div>
    <div class="reg">
        <div class="reg1">
            <p>Affiliated to CBSC, New Delhi ( Aff.No.3630188 )</p>
        </div>
        <div class="reg2">
            <p>For Admission ( 2020-21 ) Call: 7207064232 / 7331102100</p>
        </div>

    </div>
    <div class="menu">
        <div class="image">
            <img src="../../assets/images/site_logo.png">
        </div>
        <div class="details">
        <div class="dropdown">
            <button class="dropbtn">Home</button>
        </div>
        <div class="dropdown1">
            <button class="dropbtn">About Us</button>
            <div class="dropdown-content">
                <a href="#">Overview</a>
                <a href="#">Vision & Mission</a>
                <a href="#">Phillosophy</a>
                <a href="#">CBSE Information</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="dropdown2">
            <button class="dropbtn">Core Team</button>
            <div class="dropdown-content">
                <a href="#">Chairman</a>
                <a href="#">Director</a>
                <a href="#">Principal</a>
                <a href="#">Faculty</a>
            </div>
        </div>
        <div class="dropdown3">
            <button class="dropbtn">Academics</button>
            <div class="dropdown-content">
                <a href="#">CBSE</a>
                <a href="#">Calander</a>
                <a href="#">Exam schedule</a>
            </div>
        </div>
        <div class="dropdown4">
            <button class="dropbtn">Facilities</button>
            <div class="dropdown-content">
                <a href="#">Play Ground</a>
                <a href="#">Laboratories</a>
                <a href="#">Indoor Games</a>
                <a href="#">Library</a>
                <a href="#">Arts</a>
                <a href="#">Dance & Music</a>
                <a href="#">Swimming Pool</a>
                <a href="#">Scating</a>
                <a href="#">Transport</a>
                <a href="#">More Facilities</a>
            </div>
        </div>
        <div class="dropdown5">
        <button class="dropbtn">School Life</button>
        <div class="dropdown-content">
            <a href="#">Community Services</a>
            <a href="#">Co-Curricilar Activities</a>
            <a href="#">Students Council</a>
        </div>
        </div>
        <div class="dropdown6">
        <button class="dropbtn">Admissions</button>
        <div class="dropdown-content">
            <a href="#">Procedure</a>
            <a href="#">Guidelines</a>
            <a href="#">Code of Conduct</a>
            <a href="#">Apply Online</a>
            <a href="#">TC</a>
            <a href="#">Register Online</a>
        </div>
        </div>
        <div class="dropdown7">
            <button class="dropbtn">Careers</button>
        </div>
        <div class="dropdown8">
            <button class="dropbtn">Gallery</button>
            <div class="dropdown-content">
                <a href="#">Photos</a>
                <a href="#">Videos</a>
            </div>
        </div>

</div>
</div>