<div class="head">
    <h1 class="maintitle"> Our Approach </h1>
</div>
<div class="approach">
    <div class="approach1">
        <div class="heading">
            <h2>Qualified Teachers</h2>
        </div>
        <div class="image">
            <img src="http://www.oakvalleyinternationalschool.org/views/default/images/girl.jpg">
        </div>
        <div class="text">
            <p>Oak Valley has an outstanding faculty with a tremendous experience base and qualifications. They love working with children and helping them to grow and develop the attributes of the learning to which we subscribe.</p>
        </div>
    </div>
    <div class="approach2">
        <div class="heading">
            <h2>Teaching Method</h2>
        </div>
        <div class="image">
            <img src="http://www.oakvalleyinternationalschool.org/views/default/images/teaching-method.jpg">
        </div>
        <div class="text">
            <p>We implement one of the most co-operating teaching strategies. This is useful when teacher wants to point out the fact that not all in the class have the same point of view or that there are multiple solutions to some problems.</p>
        </div>
    </div>
    <div class="approach3">
        <div class="heading">
            <h2>Facilities</h2>
        </div>
        <div class="image">
            <img src="http://www.oakvalleyinternationalschool.org/views/default/images/fecility.jpg">
        </div>
        <div class="text">
            <p>Oak promotes and encourages a number of physical activities through sports and games that is an essential ingredient for the personality development of every scholar. We also offer Dance and Music Classes.</p>
        </div>
    </div>
</div>