<div class="room">
    <div class="image">
        <img src="http://www.oakvalleyinternationalschool.org/views/default/images/digital-pic.jpg">
    </div>
    <div class="droom">
        <h1>Digital Classrooms</h1>
        <p>A digital classroom is a boon to the present generation and is a fool proof method for better understanding and concept clarity at all levels right from nursery to grade 10. So we have equipped all our class rooms with touch screen digital boards along with projectors, desktop and speakers as it is an aid for both the teacher and the student which inculcates interest and enhances the class room learning activity to the maximum extent possible..</p>
    </div>
</div>
<div class="parents">
    <div class="wp">
        <h1>What Parents Say</h1>
    </div>
    <div class="review">
            <div class="pic">
            <img src="http://www.oakvalleyinternationalschool.org/views/default/images/parent-3.jpg" width="120" height="120" >
        </div>
        <div class="say">The school has an outstanding infrastructure along with quality education. My child showed a lot of improvement in both academics and sports. He has also improved his communication skills and I am happy that my child is studying in such a good school.
            </div>
        <p class="name">- Mr. P. Marreddy</p>
    </div>

</div>
<div class="approach">
    <div class="approach1">
        <div class="heading">
            <h2>School Timings</h2>
        </div>
        <div class="text">
            <ul>
                <li>The classes will start from 15-06-2020 for Nursery and LKG. The timings are from 8:45AM to 3:45PM.</li>

                <li>The classes start from 12-06-2020 for UKG and the timings are from 8:45AM to 3:45PM.</li>
                
                <li> The classes start from 06-03-2020 for Classes I to X and the timings are from 8:30AM to 4:00PM.</li>
            </ul>    
        </div>
    </div>
    <div class="approach2">
        <div class="heading">
            <h2>School News</h2>
        </div>
        <div class="text">
            <marquee width="100%" direction="up" height="100%">
            <ul>
                <li>Oak Valley announces 100% pass result in 2019-20 Grade 10 CBSE board exam</li>
                <li>Congrats to 9 students for achieving more than 90% marks in Grade 10 board exam</li>
                <li>Congrats to 20 students for achieving more than 80% marks in Grade 10 board exam School Events</li>
            </ul>
        </marquee>
        </div>
    </div>
    <div class="approach3">
        <div class="heading">
            <h2>School Events</h2>
        </div>
        <div class="text">
            <marquee width="100%" direction="up" height="100%">
            <ul>
                <li> Sub-juniors under 7 years Badminton tournament 1st prize bagged by Thaman of grade 2</li>
                <li> ADMISSIONS ARE OPEN FOR 2020-21</li>
                <li>Periodic Test -2 will commence from 16-12-19 to 21-12-19</li>
                <li>Recruitment of teaching/non-teaching/ admin. personnel will take place on 14th and 15th December, 2019 at School
                    campus.</li>
                <li>PONGAL VACATION : FROM 11-01-2020 TO 16-01-2020. THE SCHOOL REOPENS ON 17-01-2020.</li>
                <li>Academic Display Day: on 10-01-2020</li>
                <li>PTM is scheduled on 18-01-2020; timing: 9am to 11am</li>
                <li>School picnic for classes is scheduled on 25-01-2020; Place ; Ramoji Film City & Wonderla</li>
                <li>Congratulations to Karthikeya & Spandan for bagging 1st prize in inter-school Science exhibition seniors
                    category</li>
                <li>Congratulations to Sreenand for bagging 2nd prize in inter-school Science exhibition juniors category</li>
                <li>The new academic year 2020-21 is starting from 06-03-2020.</li>
                <li>The School declares holidays from 16-03-2020 to 31-03-2020 as a preventive measure from the spread of Corona
                    Virus.</li>
            </ul>
        </marquee>
        </div>
    </div>
</div>