<div class="notice">
    <div class="notice1">
        <p class="txt">Admissions for the Academic Year 2020-21 in Progress.</p>
        <!-- <p class="blink">Click here to Enquire about Admissions.</p> -->
        <a href="#" class="blink">Click here to Enquire about Admissions.</a>
    </div>
    <div class="notice2">
        <p class="txt">Regarding any query about your child's academics during curfew period, parents may contact 7207064232.</p>
        <!-- <p class="blink">Stay Home... Stay Safe...</p> -->
        <a href="#" class="blink1">Stay Home... Stay Safe...</a>
    </div>
</div>
<div class="intro">
    <div class="welcome">
        <h1 class="head">Welcome to Our School</h1>
        <p class="text">Welcome to the ambient environment and the enviable location spread across three and a half acres of lush green campus of the Oak Valley School. It is located away from the din of the city traffic and pollution in a calm peaceful, clean and healthy environment with the state of the art infrastructure with all the required facilities in a well planned and the most beautiful way possible for the overall development of your child. Teaching and Learning takes place here in a friendly atmosphere.</p>
    </div>
    <div>
        <iframe class="media" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1"></iframe>
    </div>
</div>