.imageslide{
    width: 100%;
    height:fit-content;
    background-color: cornflowerblue;
}
::ng-deep .slick-next {
    right: 30px !important;
    z-index: 99;
}
::ng-deep .slick-prev {
    left: 20px !important;
    z-index: 99;
}
::ng-deep .slick-prev:before, 
::ng-deep .slick-next:before {
    color:rgb(95, 87, 87) !important;
}
